{%- set interface = data['ietf-interfaces:interfaces']['interface'][0] -%}
{%- if 'ietf-if-extensions:parent-interface' in interface -%}
[NetDev]
Name={{interface.name}}
{% if interface.type == "iana-if-type:l2vlan" %}
Kind=vlan
{% endif %}
{% if interface.type == "iana-if-type:l2vlan" -%}
[VLAN]
Id={{interface['ietf-if-extensions:encapsulation']['ietf-if-vlan-encapsulation:dot1q-vlan']['outer-tag']['vlan-id']}}
{%- endif %}
{% endif %}