{%- set interface = data['ietf-interfaces:interfaces']['interface'][0] -%}

{%- if 'ietf-if-extensions:parent-interface' in interface -%}
[Match]
Name={{interface.name}}
{% if 'ietf-ip:ipv4' in interface -%}
{%- if 'address' in interface['ietf-ip:ipv4'] %}
{%- for ip in interface['ietf-ip:ipv4']['address'] %}
[Network]
Address={{ip['ip']}}/{{ip['prefix-length']}}
{%- endfor -%}
{%- endif -%}
{% endif %}
{% if 'ietf-if-extensions:max-frame-size' in interface %}
[Link]
MTUBytes={{interface['ietf-if-extensions:max-frame-size']}}
{%- endif -%}
{% endif %}
